/* General page styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 90vh;
      }
  
  h1 {
    margin-top: 30px;
    color: #870e4a;
  }
  
  /* Chatbox */
  #chatbox {
    width: 90%;
    max-width: 800px;
    height: 360px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border: 2px solid #870e4a;
    border-radius: 10px;
    overflow-y: auto;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Input Area */
  #inputArea {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  /* Input box */
  #userInput {
    width: 100%;
    padding: 15px;
    border: 2px solid #870e4a;
    border-radius: 8px;
    font-size: 16px;
  }
  
  /* Container for buttons */
  #buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  /* Send Button */
  #sendButton {
    padding: 12px 24px;
    background-color: #870e4a;
    color: white;
    border: 1px solid #870e4a;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
    font-family: '';
  }
  
  #sendButton:hover {
    background-color: #cf7baf;
  }
  
  /* File Uploader */
  .file-uploader {
    padding: 30px;
    text-align: center;
    cursor: pointer;
    
    position: relative;
  }
  
  .file-uploader:hover {
    
    border-color: #a04585;
  }
  
  /* Hide the real file input */
  #file-input {
    display: none;
  }
  
  /* Style the custom upload button */
  .file-uploader::after {
    content: "Choose PDF File";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #870e4a;
    color: white;
    padding: 12px 30px;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
    font-family: '';
  
  }
  
  .file-uploader:hover::after {
    background-color: #cf7baf;
  }
  
  /* Upload progress */
  .upload-progress {
    margin-top: 1px;
    font-size: 14px;
    color: #333;
  }
  